<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>03-列表过滤</title>
    <!-- 引入Vue -->
    <script src="../../JS/vue.js"></script>
    <script type="text/javascript">Vue.config.productionTip = false;//阻止Vue 在启动时产生生产提示 </script>
</head>

<body>
    <!-- 
        📕Vue监视数据的原理
            1.vue会监视data中所有层次的数据
            2.如何监测对象中的数据
                通过setter实现监视，且要在new Vue时就传入要监测的数据.
                    (1).对象中后追加的属性，Vue默认不做响应式处理
                    (2).如需给后添加的属性做响应式，请使用如下API：
                            Vue.set(target,propertyName/index,value) 或
                            vm.$set(target,propertyName/index,value) 或

            3.如何监测数组中的数据?
                    通过包装数组更新元素的方法实现，本质就是做了两件事:
                        (1).调用原生对象的方法对数组进行更新
                        (2).重新解析模板，进而更新页面
                        (3).和原push等相比，就多了一个从新解析模板的操作
                            在更新其他数据时也会解析模板，
                            那么上一步不是通过vue包装后数组方法添加数组没有响应的数据
                            会在其他数据更新解析模板时监测到(但还是不要直接添加数组数据)

            4.在vue修改数组中某个元素一定要用如下方法:
                    1.使用这些API:push()/pop()/shift()/unshift()/splice()/sort()/reverse()
                    2.Vue.set() 或  vm.$set()
            
            5.数据劫持
                    相当于遍历data 变为_data(具有了 get/set 等) 每次修改数据等都会劫持操作一下(每次进食堂被志愿者叫住扫场所码，不扫不让进)
            ❌特别注意：Vue.set()和vm.$set() 不能给vm 或者 vm的根数据对象(_data)添加属性!!!
     -->

    <!-- 准备好一个容器 -->
    <div id="root">
        <button @click="student.age++">年龄+1岁</button><br>
        <button @click="addSex">添加性别属性:默认值女:</button><br>
        <button @click="updateSex">修改性别</button><br>
        <button @click="addFriend">在列表首位添加一个朋友</button><br>
        <button @click="updateFriend">修改第一个朋友的名字为:时崎狂三</button><br>
        <button @click="addHobby">添加一个爱好</button><br>
        <button @click="updateHobby">修改第一个爱好为：还是看动漫</button>
        <button @click="filterHobby">通过过滤数组,将爱好中的_玩游戏_去掉</button>
        <h3> 姓名：{{student.name}}</h3>
        <h3> 年龄：{{student.age}}</h3>
        <h3 v-if="student.sex"> 性别：{{student.sex}}</h3>
        <div>
            <h2>爱好</h2>
            <ul>
                <li v-for="(p,index) in student.hobby" :key="index">{{p}}</li>
            </ul>
        </div>
        <div>
            <h2>朋友们</h2>
            <ul>
                <li v-for="(p,index) in student.friends">{{p.name}}--{{p.age}}</li>
            </ul>
        </div>
    </div>

    <script>
        // 创建Vue实例
        // 🔖通过计算属性实现
        let arr = [];
        const vm = new Vue({
            el: '#root',
            data: {
                student:{
                    name:'穹',
                    age:16,
                    hobby:['看动漫','玩游戏'],
                    friends:[
                        {name:'夏娜',age:16},
                        {name:'伊卡洛斯',age:16},
                    ]
                }
            },
            methods:{
                addSex(){
                    // 给对象追加属性，需要使用Vue.set或者vm.$set
                    this.$set(this.student,'sex','女');
                },
                updateSex(){
                    // 修改对象的属性，直接修改即可(因为该属性具有get/set)
                    this.student.sex = '未知';
                },
                addFriend(){
                    // 给数组添加元素，需要用vue提供的 包装后的 push/unshift等操作数组的方法
                    //(因为在vm中数组无get/set,只有对象中有get/set)
                    this.student.friends.unshift({name:'白',age:14});
                },
                updateFriend(){
                    // 修改对象的属性（直接修改
                    this.student.friends[0].name = '时崎狂三';
                },
                addHobby(){
                    // 给数组添加元素，用Vue 提供的 包装后的 push
                    this.student.hobby.push('学习');
                },
                updateHobby(){
                    this.student.hobby.splice(0,1,'还是看动漫');
                },
                filterHobby(){
                    // 过滤不改变原数组，此处hobby数组具有get/set,而hobby内0/1/2等没有get/set
                    //所以可以响应显示数组数据(get/set)
                   this.student.hobby = this.student.hobby.filter((val)=>{
                        return val !== '玩游戏';
                    })
                }
            }
        })

    </script>
</body>

</html>